.header {
  margin-bottom: 100px;
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  height: 760px;
}

.nav {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;

  &__photo {
    margin-top: 27px;
  }
}

.link {
  margin-top: 37px;
  display: flex;
}

.nav__link {
  font-family: Whitney, sans-serif;
  font-weight: 325;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}

.nav__link:hover {
  text-decoration: underline;
  transition: 0.1s linear;
}

.nav__link_photo {
  margin-left: 100px;
  margin-right: 10px;
}


.inner {
  margin: 0 20px;
  display: flex;
  height: 760px;
  align-items: center;

  &__title {
    width: 563px;
    font-family: Whitney, sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
  }

  &__subtitle {
    font-family: Whitney, sans-serif;
    font-weight: 350;
    font-size: 24px;
    line-height: 31px;
    margin: 45px 0;
  }

 &__photo {
    align-items: baseline;
    display: flex;
  }
}

.element__title {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}



.button {
  font-family: Whitney, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;

  outline: none;
  width: 222px;
  height: 50px;
  color: white;
  background-color: #F25B24;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
 text-align: center;
  padding: 15px 0;
}

.button:hover {
  background-color: #e05d2c;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .inner {
    flex-direction: column;
  }
  .element__title {
    display: flex;
    align-items: center;
  }
  .inner__title {
    font-size: 26px;
    margin-top: 55px;
  }
  .inner__subtitle {
    font-size: 14px;
    margin: 30px 0;
  }
  .inner__img {
    width: 100%;
  }
  .nav__link_photo{
    margin-left: 60px;
  }
}

@media(max-width: 700px) {
  .nav__link_photo {
    margin-left: 40px;
  }
  .inner__title {
    font-size: 23px;
  }
  .inner__subtitle {
    font-size: 7px;
    margin: 14px 0;
  }
  .nav__photo{
    margin-top: 21px;
  }
  .nav__link_photo{
    margin-left: 60px;
  }
.button{
  width: 180px;
  height: 38px;
  padding: 10px 0;
}
}

@media(max-width: 660px) {
  .button {
    margin-bottom: 80px;
  }
  .nav__link {
    font-size: 15px
  }
  .inner__title {
    font-size: 17px;
  }
}

@media(max-width: 420px) {
  .nav__link_photo {
    margin-left: 20px;
  }
  .inner__title {
    font-size: 17px;
  }
}

@media(max-width: 420px) {
  .inner__subtitle {
    font-size: 7px;
  }
  .inner__title {
    font-size: 13px;
  }
  .nav__link {
    font-size: 12px
  }
  .button {
    margin-bottom: 110px;
  }
  .header {
    margin-bottom: 30px;
  }

}
