.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(28, 24, 47, 0.3);
  z-index: 1000;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;


 &:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

 &__dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  &__content {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: 0;
    margin-top: 150px;
  }


  &__header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__title {
    font-family: Whitney, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;

    color: #2E2D35;
  }
  &__body {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 36px;
  }

}

.close {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #918D9A;;

  opacity: .5;
  text-decoration: none;
  position: absolute;
  right: 22px;
  top: 20px;
}

.close:focus,
.close:hover {
  color: #918D9A;;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
  outline: none;
  border: none;
}



.span {
  font-family: Whitney, sans-serif;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
  color: #474351;
}

.input {
  border: 1px solid #DDDAE7;
  border-radius: 4px;
  padding: 0 10px;
  width: 370px;
  height: 50px;
}

.button__modal {
  font-family: Whitney, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;

  width: 370px;
  height: 50px;

  outline: none;
  color: white;
  background-color: #F25B24;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 40px 0;
}

.button__modal:hover {
  background-color: #e05d2c;
  cursor: pointer;
}
@media (min-width: 576px) {
  .modal__dialog {
    max-width: 490px;
    height: 472px;
    margin: 30px auto;
  }
}
